.carousel-buttons {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.carousel-buttons button {
    background: #FACC15;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.carousel-buttons button:hover {
    background-color: lightgray;
}

.red {
    position: relative;
    width: 50%;
    max-width: 600px;
    margin-right: 0px;
}

.slider {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: auto;
}

.yellow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25%;
    padding: 15px;
    background-color: #FACC15;
}

.carousel-container {
    display: flex;
    justify-content: center;
    margin: 25px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .carousel-container {
        flex-direction: column;
        align-items: center;
    }

    .red,
    .yellow {
        width: 100%;
        max-width: none;
    }

    .carousel-buttons {
        display: flex;
        flex-direction: row;
    }
}