.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
}

.feature {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.feature-icon {
    background-color: #E0E0E0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.feature-title {
    font-size: 20px;
    color: #333333;
    margin-bottom: 5px;
}

.feature-description {
    font-size: 14px;
    color: #666666;
}