@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .unhover:not(:hover):focus{
        border-color: #FACC15;
        transition: all ease-in-out 0.5s;
    }

    .btn{
        height: 50px;
        width: 170px;
    }

    .bg-slate-gray{
        background-color: #3D4348;
    }

    .slate-gray{
        color: #3D4348;
    }

    .concrete-gray{
        color: #959573;
    }

    .no-resize{
        resize: none;
    }

    .dark-background{
        background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    }

    .text-wheat{
        color: wheat;
    }
  
}