@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .unhover:not(:hover):focus{
        border-color: #FACC15;
        transition: all ease-in-out 0.5s;
    }

    .btn{
        height: 50px;
        width: 170px;
    }

    .bg-slate-gray{
        background-color: #3D4348;
    }

    .slate-gray{
        color: #3D4348;
    }

    .concrete-gray{
        color: #959573;
    }

    .no-resize{
        resize: none;
    }

    .dark-background{
        background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    }

    .text-wheat{
        color: #E9E4D0;
    }

    .transition-text:hover{
        color: #D9B000;
        transition: all ease-in-out 0.5s;
    }

    .custom-bullet::marker{
        color: #D9B000;
    }

   .pagination-item {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 2rem;
       width: 2rem;
       border-radius: 50%;
      
   }

   .active{
    background-color:#FACC15;
   }
  
}